
{% extends 'header.html' %}
<!--<form action="{% url 'polls:vote' poll.id %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    <h1> {{poll.question_text}}</h1>-->

<!--    {% for choice in poll.choice_set.all %}-->
<!--        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">-->
<!--        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>-->
<!--    {% endfor %}-->
<!--    <input type="submit" value="Vote">-->
<!--</form>-->


 {% block body %}
<form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    <h1>{{ poll.question_text }}</h1>
    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <di>
      <br>

      <button class="glow-on-hover" type="submit">Vote</button>
    </di>
</form>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<a href="{% url 'polls:results' poll.id %}">View Results</a>
{% endblock %}
